{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <h1>Bienvenue sur la Kavaseb 2.0</h1>
    <p>Cette fois codée comme un pro sous Symfony !</p>

{% endblock %}