{% extends 'base.html.twig' %}

{% block title %}LA KAVASEB : Choix par titre de film{% endblock %}

{% block body %}

    <h1>Choix par titre de film</h1>

    <table class="table">
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('film_liste_show', {'id': film.id}) }}">{% if film.surTitreFrancais %}{{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}