{% extends 'base.html.twig' %}

{% block title %}New Scenariste{% endblock %}

{% block body %}
    <h1>Create new Scenariste</h1>

    {{ include('admin_scenariste/_form.html.twig') }}

    <a href="{{ path('admin_scenariste_index') }}">back to list</a>
{% endblock %}