<form method="post" action="{{ path('admin_personnalite_delete', {'id': personnalite.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnalite.id) }}">
    <button class="btn">Supprimer</button>
</form>