{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | Ajout d'une personnalité{% endblock %}

{% block body %}

    <h1><b>ADMINISTRATION | </b>Ajout d'une personnalité</h1>

    {{ include('admin_personnalite/_form.html.twig') }}

    <a href="{{ path('admin_personnalite_index') }}">Retour à la liste</a>

{% endblock %}