{% extends 'base.html.twig' %}

{% block title %}Edit Morceau{% endblock %}

{% block body %}
    <h1>Edit Morceau</h1>

    {{ include('admin_morceau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_morceau_index') }}">back to list</a>

    {{ include('admin_morceau/_delete_form.html.twig') }}
{% endblock %}
