{% extends 'base.html.twig' %}

{% block title %}Edit Compositeur{% endblock %}

{% block body %}
    <h1>Edit Compositeur</h1>

    {{ include('admin_compositeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_compositeur_index') }}">back to list</a>

    {{ include('admin_compositeur/_delete_form.html.twig') }}
{% endblock %}
