{% extends 'base.html.twig' %}

{% block title %}Edit EditeurFrancais{% endblock %}

{% block body %}
    <h1>Edit EditeurFrancais</h1>

    {{ include('admin_editeur_francais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_editeur_francais_index') }}">back to list</a>

    {{ include('admin_editeur_francais/_delete_form.html.twig') }}
{% endblock %}
