<form method="post" action="{{ path('admin_studio_dev_delete', {'id': studio_dev.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ studio_dev.id) }}">
    <button class="btn">Delete</button>
</form>
