{% extends 'base.html.twig' %}

{% block title %}Edit StudioDev{% endblock %}

{% block body %}
    <h1>Edit StudioDev</h1>

    {{ include('admin_studio_dev/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_studio_dev_index') }}">back to list</a>

    {{ include('admin_studio_dev/_delete_form.html.twig') }}
{% endblock %}
