{% extends 'base.html.twig' %}

{% block title %}Edit Preface{% endblock %}

{% block body %}
    <h1>Edit Preface</h1>

    {{ include('admin_preface/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_preface_index') }}">back to list</a>

    {{ include('admin_preface/_delete_form.html.twig') }}
{% endblock %}
