{% extends 'base.html.twig' %}

{% block title %}New Preface{% endblock %}

{% block body %}
    <h1>Create new Preface</h1>

    {{ include('admin_preface/_form.html.twig') }}

    <a href="{{ path('admin_preface_index') }}">back to list</a>
{% endblock %}
