{% extends 'base.html.twig' %}

{% block title %}Edit EditeurOriginal{% endblock %}

{% block body %}
    <h1>Edit EditeurOriginal</h1>

    {{ include('admin_editeur_original/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_editeur_original_index') }}">back to list</a>

    {{ include('admin_editeur_original/_delete_form.html.twig') }}
{% endblock %}
