{% extends 'base.html.twig' %}

{% block title %}New Saison{% endblock %}

{% block body %}
    <h1>Create new Saison</h1>

    {{ include('admin_saison/_form.html.twig') }}

    <a href="{{ path('admin_saison_index') }}">back to list</a>
{% endblock %}
