{% extends 'base.html.twig' %}

{% block title %}Edit Realisateur{% endblock %}

{% block body %}
    <h1>Edit Realisateur</h1>

    {{ include('admin_realisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_realisateur_index') }}">back to list</a>

    {{ include('admin_realisateur/_delete_form.html.twig') }}
{% endblock %}
